*{
    padding:0;
    margin:0;
    text-decoration:none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 70px;
    color: #333;
    margin-bottom: 20px;
}

.logo img {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
}

.welcome-button {
    padding: 10px 20px;
    font-size: 30px;
    
    background-color: #f7f8fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color:white;
}

.welcome-button:hover {
    background-color: #0f4f7a;
}
